<style type="text/css">
 .span {
	padding: 10px 0px 0px 0px;
	display: inherit;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;

}
 .span label{
	float: none;
	padding: 0px 10px 0px 0px;
}
button{
	padding: 5px;
	margin: 10px 0 10px;
}
.tabs-content {
			  background: #eee;
			  font-family: sans-serif;
			}

				.tabs-menu {
				  background: #a6a6a6;
				}
				.tabs-menu ul {
				   list-style: none;
				}
				.tabs-menu ul li {
				  float: left;
				}
				.tabs-menu ul li a {
				  display: block;
				  padding: 10px 20px;
				  text-decoration: none;
				  font-weight: 700;
				  text-transform: uppercase;
				  letter-spacing: 0.08em;
				  color: #fff;
				}
				.tabs-menu ul li a.active-tab-menu {
				  background: #eee;
				  color: #000;
				}

				.tabs {
				  display: none;
				  padding: 30px;
				}
				.first-tab {
				  display: block;
				}
				.qtdnodes{
					border: 1px solid #a0a0a0;
  					padding: 10px;
  					margin: 10px 0px 10px 0px;
				}

</style>